button {
    border: 0;
    outline: 0;
}

.container {
    width: 100%;
    position: relative;
    margin-top: 60px;
    margin-left: 25rem;
    
}

.title {
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
}

.category {
    font-family: noto sans;
    font-weight: 700;
    font-size: 24px;
    margin-top: 2px;
}

.keyword_add {
    margin-top: 50px;
    font-family: noto sans;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.input {
    width: 300px;
    height: 45px;
    border: 1px solid #C8C8C8;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
}

.button {
    margin-left: 25px;
    width: 100px;
    height: 45px;
    background-color: #3065EC;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
}

.keyword_list {
    margin-top: 58px;
    font-family: noto sans;
    font-size: 18px;
    font-weight: 700;
}

.keyword_ul {
    display: inline-flex;
    margin-top: 25px;

}

.keyword {
    border: 1px solid #3065EC;
    background-color: #3065EC;
    border-radius: 37px;
    padding: 8px 17px;
    font-family: noto sans;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    display: flex;
}

.keyword_del {
    width: 100%;
    padding-top: 3.5px;
    padding-left: 10px;
    cursor: pointer;
}

.contents_container {
    margin-top: 85px;
    width: 65%;


}

.contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contents_list {
    font-family: noto sans;
    font-size: 18px;
    font-weight: 700;
}

.handle_del {
    font-family: noto sans;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: #F00F0F;
    margin-right: 3rem;
    position: relative;


}

.modal {
    font-family: noto sans;
    font-size: 14px;
    font-weight: 500;
    padding: 7.55px 21px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 58px;

}

.contents_ul {
    margin-top: 50px;
}



.contents_li {
    display: flex;
    margin: 1.5rem 0;
}

.app {
    font-family: noto sans;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

.checkbox {
    margin-top: 8px;
}