@font-face {
  font-family: "roboto";
  font-weight: 500;
  src: url(./common/fonts/Roboto-Medium.otf) format("truetype");
}


@font-face {
  font-family: "noto sans";
  font-weight:400;
  src: url(./common/fonts//NotoSansKR-Regular.otf) format("truetype");
}

@font-face {
  font-family: "noto sans";
  font-weight:500;
  src: url(./common/fonts/NotoSansKR-Medium.otf) format("truetype");
}

@font-face {
  font-family: "noto sans";
  font-weight:700;
  src: url(./common/fonts/NotoSansKR-Bold.otf) format("truetype");
}


@font-face {
  font-family: "noto sans";
  font-weight:900;
  src: url(./common/fonts/NotoSansKR-Black.otf) format("truetype");
}